.contact-us-card-container{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    padding: 20px;
    border-color: rgb(228, 224, 224);
}

.contact-us-heading{
    font-weight: 700;
    font-size: 25px;
}

.contact-us-para{
    color: rgb(78, 77, 77);
}